@import '../styles/variables.scss';

#dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;

  .table-select {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 126rem;
    justify-content: flex-end;

    .btn {
      margin-right: 1rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .active {
      background: white;
      color: $vividSky;
    }
  }
}