@import '../styles/variables.scss';

.dash-table {
  background: white;
  width: 100%;
  max-width: 126rem;
  border-radius: .8rem;

  table {
    width: 100%;
  }

  .table-heads, .table-rows {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0 2rem;

    p {
      margin-bottom: 0;
      color: rgba($raisinBlack, .3);
    }
  }

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 4rem;
    height: 4rem;

    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 3.2rem;
      height: 3.2rem;
      margin: .4rem;
      border: .4rem solid $raisinBlack;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: $raisinBlack transparent transparent transparent;

      &:nth-child(1) {
        animation-delay: -0.45s;
      }

      &:nth-child(2) {
        animation-delay: -0.3s;
      }

      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .tablebody-container {
    overflow: auto;
    max-height: 40rem;
  }

  th {
    width: 100%;
    border-right: .1rem solid $cultured;
    text-align: left;
    padding: 1.2rem 1.6rem;

    &:nth-last-of-type(1) {
      border: none;
    }

    &[data-title="Status"] {
      max-width: 8rem;
    }
  }

  .empty {
    max-width: 6rem;
  }

  .table-rows {
    background: #eee;
    transition: all $animTimingTwo;
    position: relative;

    &:nth-child(even) {
      background: #ddd;
    }

    td {
      width: 100%;
      text-align: left;
      padding: 1rem 1.6rem;

      &[data-title="Status"] {
        display: flex;
        justify-content: center;
        max-width: 8rem;
      }
    }

    .row-actions {
      display: flex;
      align-items: center;
      max-width: 6rem;
      justify-content: space-evenly;

      .delete, .edit, .details {
        cursor: pointer;
        transition: all $animTimingTwo;
        color: $arsenic;
      }

      .delete:hover {
        color: $bittersweet;
      }

      .edit:hover {
        color: $vividSky;
      }
    }

    .repair-done {
      color: green;
    }

    .complete-btn {
      display: flex;
      align-items: center;
      height: 4rem;
      width: 4rem;
      background: rgba($arsenic, .5);

      &:hover {
        background: rgba($arsenic, .7);
      }
    }
  }

  .table-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1rem;

    span {
      width: max-content;
      font-size: 1.2rem;
      color: #ccc;
      font-weight: 400;
    }

    svg {
      margin-right: .6rem;
    }

    .btn {
      font-size: 1.4rem;
      margin-left: auto;
    }
  }
}

.formular {
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0;
  }

  p {
    margin: 1rem 0 0;
    color: rgba($arsenic, .3);
  }

  input, textarea {
    margin-top: 1.4rem;
    outline: none;
    width: 100%;
    font-family: $poppins;
    line-height: 3.6rem;
    font-size: 1.6rem;
    padding: .4rem 1.2rem;
    box-shadow: 0 .4rem 2rem 0 rgba($raisinBlack, .1);
    border: .1rem solid $cultured;
    transition: border-color $animTimingTwo;
    border-radius: .4rem;

    &:focus {
      border-color: lighten($raisinBlack, 20%);
    }
  }

  .dropdown {
    margin-top: 1.4rem;
    border-radius: .4rem;
    border-color: $cultured;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;

    .btn {
      width: 100%;
      margin-right: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:nth-last-of-type(1) {
        margin-right: 0;
      }
    }

    .cancel {
      background: rgba($raisinBlack, .2);

      &:hover {
        background: rgba($raisinBlack, .4);
      }
    }
  }

  .client-type {
    display: flex;
    flex-direction: column;

    .btn {
      margin-top: 1rem;

      &:first-of-type {
        margin-top: 2rem;
      }
    }
  }

  .existing-client {
    display: flex;
    flex-direction: column;
    padding: .4rem 1.2rem;
    box-shadow: 0 .4rem 2rem 0 rgba($raisinBlack, .1);
    border: .1rem solid $cultured;
    transition: border-color $animTimingTwo;
    border-radius: .4rem;
    margin: 1.2rem 0 0;
    cursor: pointer;

    &:hover {
      border-color: lighten($raisinBlack, 20%);
    }

    &:nth-last-of-type(1) {
      margin-bottom: 2rem;
    }

    .existing-client-id {
      font-size: 1.2rem;
      color: rgba($raisinBlack, .3);
    }
  }

  .existing-clients {

    .existing-clients-container {
      display: flex;
      flex-direction: column;
      overflow-x: auto;
      max-height: 25rem;

      .existing-client {
        box-shadow: none;
        border-color: rgba($raisinBlack, .1);
        margin-top: .6rem;

        &:hover {
          border-color: lighten($raisinBlack, 20%);
        }
      }
    }
  }

  .reparation-info {
    margin: 2rem 0;

    span {
      margin-left: 1rem;
      background: rgba($vividSky, .3);
      border: .1rem solid $vividSky;
      color: $vividSky;
      padding: .2rem .6rem;
      border-radius: .4rem;
    }
  }
}

.safe-delete-form {
  .status-field {
    margin: 1.2rem 0 0;
  }
}